---
---

@import "normalize";
@import "bourbon/bourbon";
@import "grid_settings";
@import "neat/neat";

// Purple Theme
// Header: #595992
$primary-color: #595992;
$divider-color: #B2B2C6;
// Divider: #B2B2C6
// Background: #F8F9FA
// Text? #211B44

@import "post";
@import "syntax";
@import "sidenav";

body {
  border-top: 4px solid $primary-color;
  background-color: #F8F9FA;
  color: #3E3D4B;

  font-family: 'Open Sans', sans-serif;
}

div.container {
  @include outer-container;
  padding-top: 30px;

  @include media($max) {
    margin: 0px 20px;
  }
}

.page-content {
  @include span-columns(7);
  border-left: em(1px) solid $divider-color;
  padding-left: em(40px);

  @include media($mobile) {
    @include span-columns(10);
    // @include shift(1);
    padding-left: 0px;
    border-left: none;
  }
}

h1, h2, h3, h4, h5, h6 {
  color: #211B44;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
}

a {
  text-decoration: none;
  color: #5062C7;
}
a:visited {
  color: $primary-color;
}

hr {
  border: none;
  border-top: em(1px) solid $divider-color;
}

ul {
  list-style-type: none;
  padding: 0px;

  .post-date {
    font-size: em(14px);
    color: #706F89;
  }

  .post-link {
    margin-left: 10px;
  }
}
