<nav class="sidebar">
  <a href="{{ site.url }}">
    <img src="{{ site.url }}/assets/img/kevin_compressed.jpg" alt="Kevin VanderLugt" id="headshot" height="142" width="142">
  </a>
  <section class="about">
    <a href="{{ site.url }}"><h2>Kevin VanderLugt</h2></a>
    <h2 class="tags">iOS/Ruby Developer • Freelancer</br>
    Entreprenuer • Tech Geek</h2>
    <span>Find out more <a href="{{ 'about/' | prepend: site.baseurl }}">about me.</a></span>
    <div class="contact">
      <a href="https://github.com/kevinvanderlugt"><i class="fa fa-github-square fa-2x"></i></a>
      <a href="https://www.linkedin.com/in/kevinvanderlugt"><i class="fa fa-linkedin-square fa-2x"></i></a>
      <a href="https://plus.google.com/u/0/+KevinVanderLugt"><i class="fa fa-google-plus-square fa-2x"></i></a>
      <a href="mailto:kevin.vanderlugt@gmail.com"><i class="fa fa-envelope fa-2x"></i></a>
    </div>
  </section>
</nav>
