@import "neat/neat-helpers"; // or "neat-helpers" when in Rails

// Change the grid settings
// $column: 90px;
$gutter: em(5px);
$grid-columns: 10;
$max-width: em(960);
// $visual-grid: true;

// Define your breakpoints
$max: new-breakpoint(max-width 960px 10);
$tablet: new-breakpoint(max-width 768px 10);
$mobile: new-breakpoint(max-width 480px 10);